@CHARSET "ISO-8859-1";

.gris:nth-child(even) {background-color: WhiteSmoke}

.logo {
	vertical-align : top;
	width : 50px;
	padding : 4px;
}

.adresse-co {
	width : 550px;
	padding : 3px;
}

.adresse-cl {
	width : 345px;
	padding : 0px 25px 40px 25px;
}

.titre-adresse-cl {
	width : 345px;
	padding : 40px 25px 0px 25px;
}

.no-facture {
	text-align : right;
	width : 170px;
	padding : 3px;
}

.details {
	border-spacing: 0px;
	border: 1px solid;
}

.droite{
	text-align : right;
}

.qte {
	width : 50px;
	padding : 2px;
	border: 1px solid;
}

.desc {
	width : 500px;
	padding : 2px;
	border: 1px solid;
}

.prix {
	width : 100px;
	padding : 2px;
	border: 1px solid;
}

.total {
	width : 120px;
	padding : 2px;
	border: 1px solid;
}


.final {
	padding : 2px;
	border: 1px solid;
}